
BasedOnStyle: Microsoft

Language: Cpp
AccessModifierOffset: -4

AlignAfterOpenBracket: AlwaysBreak
AlignTrailingComments: true
# AlignConsecutiveAssignments: true
# AlignConsecutiveDeclarations: true
# AlignOperands: true

AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false

ConstructorInitializerAllOnOneLineOrOnePerLine: true
BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterStruct: true
    AfterUnion: true
    AfterCaseLabel: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterExternBlock: true
    BeforeCatch: true
    BeforeElse: true
    IndentBraces: false
    SplitEmptyFunction: true
    SplitEmptyRecord: false
    SplitEmptyNamespace: true

BreakConstructorInitializers: BeforeComma
BreakInheritanceList : BeforeComma

AlwaysBreakTemplateDeclarations: Yes

ColumnLimit: 110

CompactNamespaces: true

ContinuationIndentWidth: 4

Cpp11BracedListStyle: true

FixNamespaceComments: true

SortIncludes: false
SortUsingDeclarations: true

IndentCaseLabels: true
IndentWidth: 4
IndentWrappedFunctionNames: true

KeepEmptyLinesAtTheStartOfBlocks: true
NamespaceIndentation: None


SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeInheritanceColon: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

Standard: Cpp11
TabWidth: 4
# UseTab: ForContinuationAndIndentation
UseTab: Always

PointerAlignment: Left
DerivePointerAlignment: false

MaxEmptyLinesToKeep: 1

PenaltyExcessCharacter: 80
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakFirstLessLess: 1000