[submodule "src/externals/directxtk"]
	path = src/externals/directxtk
	url = https://github.com/Microsoft/DirectXTK.git
	ignore = dirty
[submodule "src/externals/effects11"]
	path = src/externals/effects11
	url = https://github.com/Microsoft/FX11.git
	ignore = dirty
[submodule "src/externals/assimp"]
	path = src/externals/assimp
	url = https://github.com/assimp/assimp.git
	ignore = dirty
